html, body {
  width: 150px;
}

#couleurs {
width: 80%;
margin-left: auto;
margin-right: auto;
}

.couleur {
  display:inline-block;
  width: 15px;
  height: 15px;
  margin: 4px;
  border-radius: 50%;
  border: 1px solid black;
}

#rose {
background-color: #C0C0C0; 
}

#vert {
background-color: #00FF00; 
}

#bleu {
background-color: #00CCFF; 
}

#jaune {
background-color: #FFFF00; 
}

.current {
	box-shadow: 0px 0px 3px black;
}

.default {
	border: 2px solid black;
}

/*#jaune:active {
	background-color: #E5C8CA;
}

#vert:active {
	background-color: #E5C8CA;
}

#bleu:active {
	background-color: #E5C8CA;
}

#rose:active {
	background-color: #E5C8CA;
}*/

#clear {
	margin-left: 10px;
    margin-right: 10px;
	margin-top: 5px;
	text-align: center;
	border: 1px solid black;
	background-color: red;
	cursor: default;
	}

#clear:active {
	background-color: #E5C8CA;
	}

#information {
	padding-left: 15px;
	line-height: 0.5;
}

#information img {
  width: 12px;
  height: 12px;
  margin-top: 5px;
  margin-left: -12px;
}

#information p{
	display: inline;
	font-size: 0.55em;
	color: grey;
}
